utils/*.exe
utils/*.bin
esp32/dfplayermini.py
esp32/secrets.py
esp32/esp_secrets.py
telegram_bot/telegram_secrets.py
docs/IOT2024-4.pdf
**/__pycache__
backend/backend_secrets.py
backend/alarms.json
alarms.json

broker/data/*
broker/log/*
!broker/data/.gitkeep
!broker/log/.gitkeep

grafana/data/*
influxdb/data/*
!grafana/data/.gitkeep
!influxdb/data/.gitkeep